@import "_variables";

html, body {
  height: 100%;
}

body {
  background-color: $bodyBg;
  color: #7c7c7c;
  position: relative;
  font-size: $bodyFont;
}


/****** Sticky footer *****/
.wrapper, .body-wrapper {
  height: 100%;
}

.content-wrapper {
  min-height: 100%;
  margin-bottom: -$footerHeight;
  &:after {
    height: $footerHeight;
    display: block;
    content: "";
  }
}
/****** End Sticky footer *****/


header {
  background: #FFF;
  height: $headerHeight;
  line-height: $headerHeight;
  .right-element {
    float: right;
  }
}

footer {
  background-color: #C0C0C0;
  min-height: $footerHeight;
  width: 100%;
  .container {
    div {
      margin-top: 40px;
    }
    div:last-of-type {
      text-align: right;
    }
    ul {
      padding: 0;
      &:first-of-type {
        padding-left: 60px;
      }
      li {
        list-style: none;
        display: block;
      }
    }
  }
}

img {
  zoom: 50%;
}

textarea {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  resize: none;
}

.highlight {
  color: $colorHighlightLP;
}

.btn {
  border-radius: 0;
}

.center-wrapper {
  &.sm {
    margin: 150px auto;
    width: 370px;
  }
  margin: 100px auto 100px;
  h4 {
    margin-bottom: 20px;
  }
  .btn.right {
    float: right;
  }
  input {
    &[type="text"], &[type="password"] {
      display: block;
    }
  }
}

.info-grouped {
  border-bottom: 1px solid #C0C0C0;
  margin-bottom: 20px;
}

.total-hours-container, textarea {
  border: 1px solid #C0C0C0;
  background: #ECECEC;
  color: $colorHighlightLP;
}



&.rejecting {
  padding-bottom: 20px;
  textarea {
    height: 150px;
  }
}

.form-submit-hours, .form-approve-hours {
  margin-bottom: 30px;
  height: 90px;
  .total-hours-container, textarea {
    height: 90px;
  }
  .total-hours-container {
    display: table;
    padding: 10px;
    div:first-of-type {
      border-right: 1px solid #C0C0C0;
    }
    > div {
      width: 50%;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
    .total-hours {
      font-size: 40px;
    }
    .clock-green {
      @include sprite($icon_clock_green);
    }
  }
  .note-container {
    padding-left: 0;
  }
  .submit-hours-button-container {
    padding-right: 0;
    button {
      padding: 20px;
      width: 100%;
      .icon_submit {
        @include sprite($icon_submit);
      }
    }
  }
  input[type="submit"], button {
    font-size: 15px;
    height: 90px;
    width: 100%;
    color: white;
  }
  .approval {
    button {
      padding: 0;
      height: 40px;
    }
    button:first-of-type {
      margin-bottom: 10px;
    }
  }

  .icon_reject_2 {
    margin-right: 20px;
    @include sprite($icon_reject_2);
  }
  .icon_approved_2 {
    margin-right: 15px;
    @include sprite($icon_approved_2);
  }
}


.nav-tabs {
  border: 0;
  li {
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    border: 0;
    .icon {
      vertical-align: middle;
    }
    .pending-timesheet {
      @include sprite($icon_clock_past_white);
    }
    .approved-timesheet {
      @include sprite($icon_timesheet_white);
    }
    .separator {
      margin: 0 20px;
      @include sprite($line_green_dark);
    }
    &.on {
      color: $colorHighlightLP;
      background-color: #ECECEC;
      .pending-timesheet {
        @include sprite($icon_clock_past_green);
      }
      .approved-timesheet {
        @include sprite($icon_timesheet_green);
      }
      .separator {
        @include sprite($line_grey);
      }
    }
  }
}

form {
  .error {
    display: none;
    color:red;
    &.on {
      display: inline-block;
    }
  }
}

.icon_arrow_diagonal {
  margin-left:20px;
  @include sprite($icon_arrow_diagonal);
}

