@mixin triangle($direction, $size, $color) {
  @if not index(up right down left, $direction) {
    @warn "Direction must be one of `up`, `right`, `down` or `left`; currently `#{$direction}`.";
  }
  width: 0;
  height: 0;
  @if $direction == 'up' {
    border-right: $size solid transparent;
    border-bottom: $size * 1.732 solid $color;
    border-left: $size solid transparent;
    border-top: 0;
  } @else if $direction == 'down' {
    border-top: $size * 1.732 solid $color;
    border-right: $size solid transparent;
    border-left: $size solid transparent;
    border-bottom: 0;
  } @else if $direction == 'left' {
    border-top: $size solid transparent;
    border-right: $size * 1.732 solid $color;
    border-bottom: $size solid transparent;
    border-left: 0;
  } @else if $direction == 'right' {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size * 1.732 solid $color;
    border-right: 0;
  }
}

* .icon {
  display: inline-block;
}