.pagination {
  width: 100%;
  .pages {
    text-align: center;
    .off {
      display: none;
    }
    ul li {
      display: inline-block;
      padding: 5px 10px;
      margin: 0 5px;
      cursor: pointer;
      &.current {
        text-decoration: none;
      }
    }
  }
  button {
    &.off {
      display: none;
    }
    img {
      margin: 0 20px;
    }
  }
  .next {
    button {
      float: right;
    }
  }
}

.icon_arrow_forward {
  margin-left: 20px;
  @include sprite($icon_arrow_forward);
}

.icon_arrow_backward {
  margin-right: 20px;
  @include sprite($icon_arrow_backward);
}