$sorTableSortButtonColor: green !default;

.sorTable {
    min-height: 400px;
    margin: 0 0 20px;
    table {
        border: 1px solid #ddd;
        th, tfoot td {
            background: #108286;
            color: white;
        }
        th {
            font-weight: normal;
            &.sortable {
                cursor: pointer;
                position: relative;
                .arrow-asc, .arrow-desc {
                    content: "";
                    position: absolute;
                    right: 10px;
                    @include sprite($icon_arrow_bright_green);
                }
                .arrow-asc {
                    top: 30%;
                    transform: rotate(180deg);
                }
                .arrow-desc {
                    top: 50%;
                }
                &.asc, &.desc {
                    .arrow-asc, .arrow-desc {
                        top: 40%;
                    }
                }
                &.asc {
                    .arrow-desc {
                        visibility: hidden;
                    }
                }
                &.desc {
                    .arrow-asc {
                        visibility: hidden;
                    }
                }
            }
        }
        td {
            &.editable, &.addable {
                span {
                    display: inline-block;
                    min-width: 40px;
                    height: 22px;
                    text-align: center;
                    border: 1px solid #ddd;
                    &.error {
                      background: #FFDDCE;
                      border: 1px solid red;
                    }
                }
                input {
                    display: none;
                }
                &.editing {
                    span {
                        display: none;
                    }
                    input {
                        width: 40px;
                        height: 22px;
                        display: block;
                    }
                }

            }
            &.editable {
                span:hover {
                    background: #f0f0f0;
                }
            }
            a {
                cursor: pointer;
            }
        }
    }
}


