/* INIT */

$colorGreenFlashyLP : #25E47A;
$colorHighlightLP: #108286;

/* BOOTSTRAP */

$brand-primary: $colorHighlightLP;
$input-bg: #ECECEC;
$input-height-base: 50px;
$table-cell-padding: 15px;
$nav-tabs-border-color: transparent;
$form-group-margin-bottom: 20px;
$btn-default-bg : $colorGreenFlashyLP;
$btn-default-color: #FFF;
$nav-disabled-link-color: #108287;


/* APP */
$sorTableSortButtonColor: #25e47a;
$bodyBg: #f5f5f5;
$bodyFont: 15px;
$headerHeight: 80px;
$footerHeight: 450px;